<div id="newProject" class="overlay" data-projID="new">
    <div class="popup subgrid">
        <div class="popup_title">
            <div class="group">      
               <input type="text" required  id="projectTitle">
               <span class="highlight"></span>
               <span class="bar"></span>
               <label>Card Title</label>
            </div>
            
            <button class="roundButton md-btn-raised md-btn-ripple close">x</button>

        </div>
        
        
        <div class="content">
            <div class="visuals">
              <div class="gallery" data-current="5" data-total="6">
                
                <div class="controlHolder">
                  <button class="roundButton md-btn-raised md-btn-ripple addVisuals" data-tgt="visualsNewProject">+</button>
                </div>

              </div>
               

                <div class="tags">

                    <div class="search_box">
                      <div class="select_holder">
                         <select id="searchNewProj" class="search" multiple>
                            <option data-placeholder="true"></option>
                            <% for(tag in tags) { %>
                               <option value="<%= tag %>"><%= tags[tag] %></option>
                            <% } %>
                         </select>
                      </div>
                    </div>

                    <button class="roundButton md-btn-raised md-btn-ripple addTag">+</button>

                </div>
            </div>
            <div class="description">
                
                <textarea maxlength="1014" id="projectDescription" class="inputDescription" placeholder="Description..."></textarea>

            </div>

            <div class="embgit">
                
                <textarea maxlength="1988" id="projectEmbGit" class="inputEmbGit" placeholder="Embedded Git..."></textarea>

            </div>

            <div class="inDepth">

                <textarea maxlength="810" id="projectContent" class="inputContent" placeholder="Content..."></textarea>

                <div class="extraInfo">
                    <div class="mdl-selectfield selectGroup">
                        <select class="selectEL" id="projectCardType">
                            <option value="1">Simple</option>
                            <option value="2">Double</option>
                            <option value="3">Triple</option>
                        </select>
                    </div>
                    
                    <div class="group">      
                       <input type="text" required  id="projectOrder">
                       <span class="highlight"></span>
                       <span class="bar"></span>
                       <label>Order</label>
                    </div>
                    <div class="formButtons">
                      <button class="md-btn-raised md-btn-ripple submitProjectForm">
                        Save
                      </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
