<div id="newTagForm" data-reposition="no" class="overlay newTagForm">
    <div class="popup subgrid">

      <div class="popup_title">
          <h2>New tag form</h2>
         <button class="roundButtom md-btn-raised md-btn-ripple close" data-reposition="no">x</button>
     </div>
     
     
     <div class="content">
         <div class="inDepth">
            <div id="newTags">
              <h2>Tags</h2>
              <% for(tag in tags) { %>
                <div class="imgWrapper">
                  <h3><%= tags[tag] %></h3>
                  <button class="roundButtom md-btn-raised md-btn-ripple deleteTag" data-tagId="<%= tag %>">-</button>
                </div>
              <% } %>
               
               <div class="group individualTagForm">      
                 <input type="text" required class="tagName">
                 <span class="highlight"></span>
                 <span class="bar"></span>
                 <label>Tag name</label>
               </div>

            </div>

            <div class="roundButtomHolder">
               
               <button class="roundButtom md-btn-raised md-btn-ripple oneMoreTag">+</button>

            </div>

            <div class="extraInfo">
              
              <div class="formButtons">
                <button class="md-btn-raised md-btn-ripple submitNewTagsForm">
                Save
                </button>
              </div>
              
            </div>

         </div>
    </div>

    <div class="repository">
       
      <div style="display: none;" class="group individualTagForm extra" id="extraTagForm">      
        <input type="text" required class="tagName">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>Tag name</label>
      </div>

    </div>

   </div>
</div>

