<div class="gallery" data-current="4" data-total="<%= project.visuals.img.length + project.visuals.vid.length %>">
   <% var elementIndex = 0; %>
   <% for(var sliderim = 0; sliderim < project.visuals.img.length; sliderim++){ %>
      
      <img src="<%= project.visuals.img[sliderim].url %>" alt="<%= project.visuals.img[sliderim].name %>" class="element" data-index="<%= elementIndex %>" />
      <% elementIndex++ ; %>

  <% } %>

  <% if(project.visuals.img.length == 0){ %>

      <img src="https://imgportfolio.s3.amazonaws.com/pinoquio.jpg" alt="default img" class="element" data-index="<%= elementIndex %>" />

  <% } %>

  <% for(var slidervd = 0; slidervd < project.visuals.vid.length; slidervd++){ %>

      <div class="element" data-index="<%= elementIndex %>">
         <%- project.visuals.vid[slidervd].url %>
      </div>

      <% elementIndex++ ; %>
  <% } %>
   
  <div class="controlHolder">
    <div class="control md-btn-raised prev galleryPrev">
      <span class=""><</span>
    </div>
    <div class="control md-btn-raised next galleryNext">
      <span class="">></span>
    </div>
    <%if (logStatus) { %>
      <button class="roundButton md-btn-raised md-btn-ripple addVisuals" data-tgt="visuals<%= project.id %>">+</button>
    <% } %>
  </div>
   
   
</div>