/*Main page Grid Display*/
.grid {
   /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  /* Supports Grid */
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: minmax(100px, auto);
  grid-gap: 1em;
}
body{
  overflow-x: hidden;
}
header,
aside,
main,
footer {
  /*background: #eaeeee;*/
  padding: 1em;
  bottom: 0;
}

header, footer {
  background-color: #55BCC9;/* #3FEEE6 */
  grid-column: 1 / 4;
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(7, minmax(50px, 1fr));/*repeat(auto-fill, minmax(200px, 1fr));*/
  grid-auto-rows: minmax(50px, auto);
  /*grid-gap: 1em;*/
  margin: -1em;
  min-height: 70px;
}

.headerBackGround{
  display: none;
}
/* Material Design CSS */
/* Material design style for button */
/* Raised */
.md-btn-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  
  &:active {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12),
                  0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }
}
/*
 Ripple
*/
.md-btn-ripple {
  overflow: hidden;
  position: relative;
}

.md-btn-ripple:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: rgba(255,255,255,0.3);
  border-radius: 100%;
  transform: scale(0);
}

@keyframes md-btn-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.md-btn-ripple:not(:active):after {
  animation: md-btn-ripple 0.6s ease-out;
}

.md-btn-ripple:after {
  visibility: hidden;
}

.md-btn-ripple:focus:after {
  visibility: visible;
}
/* End  material design style button */

/* Material Design Style Input */

.group        { 
  position:relative; 
  margin-top: 25px;
}
input         {
  font-size:1em;
  padding:4px 5px;
  margin: 2px 0px;
  display:block;
  width:94%;/*300px;*/
  border:none;
  /*border-bottom:1px solid #757575;*/
  background-color: #fff;
  border-radius: 3.5px;
  box-shadow: none;
}
input:focus     { outline:none; }

/* LABEL ======================================= */
label          {
  color:#cfcccc; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:0.3em;/*10px;*/
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label    {
  top:-20px;
  font-size:14px;
  color:#666;/*#5264AE;*/
}

/* BOTTOM BARS ================================= */
.bar  { position:relative; display:block; width:100%;/*300px;*/ }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#666;/*#5264AE;*/
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlights {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlights {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:#666;/*#5264AE;*/}
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#666;/*#5264AE;*/}
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#666;/*#5264AE;*/}
  to  { width:0; background:transparent; }
}

/* END Material Design Style Input */

/* Material Design Select Field */

/* END Material Design Select Field */


p.submissionError{
  color: #fc4445;
  font-size: 0.9em;
  padding-left: 4px;
}

p.greeting{
  color: #666;
  grid-column-start: 2;
  grid-column-end: span 2;
  font-size: 0.9em;
  margin: 0;
    margin-bottom: -10px;
  /*text-align: center;*/
}

/* End of Material design */


/* Header */
.logo_grid{
  grid-column-end: span 2;
  display: block;
  width: 100%;
  padding-top: 15px;
}
.logo_grid div{
  float: left;
  /*height: 70px;
  display: grid;*/
  align-items: end;
}
.logo_grid div img{
  height: 50px;
  margin-left: 3px;
}
.logo_grid div p{
  margin-bottom: 10px;
}
.logo_grid .right p span.big{
  font-size: 2.7em;
}
.logo_grid .right p span.cont{
  margin-left: -15px;
}
.logo_grid p{
  margin: 0;
  font-size: 1.3em;
}

.logo, .logo span{
  /*
  font-family: 'Abril Fatface', cursive;
  font-family: 'Poiret One', cursive;
  */
  font-family: 'Source Code Pro', monospace;
}

.search_box{
  display: flex;
  align-items: center;
  grid-column-end: span 3;
}

.search_box .select_holder{
  width: 100%;
}

.login_box{
  grid-column-end: span 2;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
}

.login_box .collapsable{
  grid-column-start: 2;
  grid-column-end: span 2;
  display: none;
  height: 103%;
  width: 100%;
}

.login_box button{
  grid-column-start: 2;
  grid-column-end: span 2;
  border: none;
  background-color: #FC4445;
  color: #ffffff;
  font-size: 1.3em;
  height: 30px;
  border-radius: 4px;
}


.logButton:hover{
  background-color: #FC4445;
}

#logInCancelBtn{
  width: 100%;
  margin-top: 10px;
}

/* Header end */


/*Cards SubGrid display*/

.subgrid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));/*repeat(auto-fill, minmax(200px, 1fr));*/
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1em;
}

.card {
  /* Demo-Specific Styles */
  background: #CAFAFE;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  height: 300px;
  
  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  text-decoration: none;
  cursor: pointer;
}

.card:hover {
   background-color:#55BCC9;
}

.card.w1{
   grid-column-end: span 1;
}

.card.w2{
   grid-column-end: span 2;
}

.card.w3{
   grid-column-end: span 3;
   height: 600px;
}

.card.h2{
   height: 600px;
}

/*Nested card*/
.card-nested {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 80%;
  /* Flex Fallback 
  margin-left: 5px;
  margin-right: 5px;*/
  flex: 1 1 200px;
  text-decoration: none;
}

.card-title {
  grid-column: 1 / 3;
  grid-row: 1;
  padding-left: 20px;
}

.card-img {
  grid-column: 1 / 3;
  grid-row: 2;
  overflow: hidden;
}

.card-footer {
  grid-column: 1 / 3;
  grid-row: 3;
}
.right_part{
  width: 50%;
  height: 300px;
  float: left;
  overflow: hidden;
}
.left_part{
  width: 50%;
  height: 300px;
  float: left;
  overflow: hidden;
  font-size: 15px;
}
.big_right_part{
  width: 67%;
  height: 600px;
  float: left;

}
.big_left_part{
  width: 33%;
  height: 600px;
  float: left;
  font-size: 15px;

}
.card-2.card-nested {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  
  /* Flex Fallback 
  margin-left: 5px;
  margin-right: 5px;*/
  flex: 1 1 200px;
  text-decoration: none;
}

.card-2.card-title {

}

.displayPriority1, .displayPriority2, .displayPriority3, .bigVisible{
  width: 100%;
}

.card-img img{
  /*max-width: unset;
  max-height: unset;*/
  display: block;
  height: 240px;
  width: 100%;
}

.card-2.card-img img{
  max-width: unset;
  max-height: unset;
  display: block;
  height: 300px;
  width: 100%;
}

.card-2.card-footer {
  display: flow-root;
  text-align: justify;
  text-indent: 0px;
  padding: 5%;
}

img {
    max-width: 100%;
    /*max-height: 50%;*/
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  header div, .card {
    margin: 0;
  }
}

/*General Style*/
.repository{
  display: none;
}

.imgWrapper{
  display: flex;
}

.imgWrapper button{
  margin-left: auto;
  align-self: center;
}

.newVidWrapper{
  display: flex;
}

.newVidWrapper .group{
  width: 50%;
}

.floatingButtonHolder{
  position: fixed;
  z-index: 3;
  /*margin-left: 80%;
  margin-top: 500px;*/
  top: 50%;
  right: 0;
}

.floatingButtonHolder.headerButton{
  margin-top: 100px;
  display: none;
}

.floatingButtonHolder button{
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 20px;
}

*{
   font-family: Consolas, Lucida Console, Courier;
  /* color: black;*/
}

/*Box shadow effect*/
.boxshdw
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


/*Modal*/
.box {
  width: 20%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
    overflow: hidden;
}

.overlay {
  position: absolute;/*fixed;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: none;
  height: 4000px;/*Faking it... */
  min-height: 858px;

}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.overlay .subgrid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  /*grid-template-columns: repeat(3, minmax(200px, 1fr));/*repeat(auto-fill, minmax(200px, 1fr));*/
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1em;
}

.newTagForm, .visualsForm{
  z-index: 6;
}

.newTagForm .popup, .visualsForm .popup{
  width: 45%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.newTagForm .popup .popup_title, .visualsForm .popup .popup_title{
  /*width: 100%;*/
}

.newTagForm .popup .content, .visualsForm .popup .content{
  /*width: 100%;*/
}

.newTagForm .popup .roundButtonHolder, .visualsForm .popup .roundButtonHolder{
  margin-top: 10px;
}

.displayPriority2, .displayPriority3{
  display: none;
}

.popup {
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
  /*overflow: hidden;*/
}

.popup.subgrid {
  grid-template-columns: unset;
}

.popup_title{
  grid-column-end: span 3;
  /* Grid Fallback
  display: flex;
  flex-wrap: wrap; */
  
  /* Supports Grid 
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1em;*/

  color: white;
  background-color: #55BCC9;
  margin: -20px;
  margin-bottom: 20px;
  border-radius: 5px 5px 0px 0px;
}

.popup_title h2{
  /*grid-column-end: span 11;*/
  margin-left: 5%;
}

.popup_title .group{
  /*grid-column-end: span 11;*/
  margin-left: 5%;
  min-height: 72px;
  width: 80%;
}

.roundButton{
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: #FC4445;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
}

.popup_title .close{
  /*
  grid-column-end: span 1;
  margin-left: 50%;
  margin-top: 10%;
  */
  position: absolute;
  right: 1%;
  top: 1.9%;
}

/*#overlay-parent {
    position:relative;
}
#overlay-visuals {
  position:absolute;
  width: calc(180% - 1.5em);
  height: 400px;
}
#overlay-description {
  position:absolute;
  top:0;
  right:0;
  max-width:500px;
  width: calc(180% - 1.5em);
  text-align: justify;
}
#overlay-tags {
  position:absolute;
  bottom:10px;
  right:10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.2em;
  padding: 3px 5px;
  margin: 3px 2px 0px 2px;
  color: #ffffff;
  background-color: #FC4445;
  border-radius: 4px;
}
#overlay-content {
  bottom:0;
  position:absolute;
  max-width: 790px;
  width: calc(180% - 1.5em);
  text-align: justify;
}*/

.popup .content{
  font-size: 15px;
  top: -7%;
  grid-column-start: 1;
  grid-column-end: 4;
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;

  /* Supports Grid */
  display: grid;
  /*grid-template-columns: repeat(5, auto);/*repeat(auto-fill, minmax(200px, 1fr));*/
  grid-template-columns: 60% auto;
  grid-auto-rows: minmax(30px, auto);
  grid-gap: 1em;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 600px;
  margin-bottom: -5.5%;
  overflow: clip;
}

.popup .content .visuals{
  /*grid-column-start: 1;
  grid-column-end: span 4;*/
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: stretch;
}
/* Gallery */
.bigVisible .visuals .gallery{
  width: 100%;
  height: 600px;
}

.bigVisible .visuals .gallery .element{
  position: absolute;
  width: 67%;
  height: 600px;
  max-height: 100%;
}

.bigVisible .visuals .gallery .control{
  cursor: pointer;
  background-color: #FC4445;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  margin-top: 290px;
}

.bigVisible .visuals .gallery .control span{
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: 12px;
  line-height: 16px;
}

.bigVisible .visuals .gallery .control.prev{
  margin-left: 2.5%;
}

.bigVisible .visuals .gallery .control.next{
  right: 35.5%;
  
}

.bigVisible .visuals .gallery .addVisuals{
  display: none;
}

.popup .content .visuals .gallery{
  height: calc(100% - 40px);
  width: 100%;
  height: 555px;
}

.popup .content .visuals .gallery .element{
  position: absolute;
  top: -10px;
  /*right: 0;
  bottom: 0;
  left: 0;*/
  max-width: 550px;
  max-height: 550px;
  box-shadow: 5px 5px 5px #888888;
  background-color: #CAFAFE;
}

.element iframe{
  width: 550px;
  height: 550px;
}

.popup .content .visuals .gallery .controlHolder{
  position: absolute;
  margin-top: 200px;
  width: calc(60% - 1.5em);
}

.popup .content .visuals .gallery .control{
  cursor: pointer;
  background-color: #FC4445;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  margin-top: +10%;
}

.popup .content .visuals .gallery .control span{
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 12px;
  line-height: 20px;
  text-align: center;
}

.popup .content .visuals .gallery .control.prev{
  margin-left: 2.5%;
}

.popup .content .visuals .gallery .control.next{
  right: 25%;
}

.popup .content .visuals .gallery .addVisuals{
  position: absolute;
  margin-top: 150px;
  left: calc(50% - 20px);
}

/* END Gallery */
.popup .content .visuals .tags, .bigVisible .tags{
  width: 95%;
  /*min-height: 40px;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: -20px;
  /*background-color: red;*/
}

.popup .content .visuals .tags .search_box{
  width: calc(100% - 50px);
}

.popup .content .visuals .tags .roundButton{
  /*position: absolute;
  left: 54%;*/
  margin-left: auto;
}

.popup .content .visuals .tag, .bigVisible .tag{
  /*display: flex;
  user-select: none;*/
  align-items: center;
  font-size: 1.2em;
  padding: 3px 5px;
  margin: 3px 2px 0px 2px;
  color: #ffffff;
  background-color: #FC4445;
  border-radius: 4px;
  /*animation-name: scaleIn;
  animation-duration: .2s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;*/
}

.bigVisible .tags{
  margin-left: 5%;
}

.popup .content .visuals .tag .tag-text{

}


.popup .content .description{
  /*grid-column-end: span 1;*/
  grid-column-start: 2;
  grid-column-end: 6;
  align-self: stretch;
  text-align: justify;
  
}

.popup .content .description p{
  text-indent: 0px;
}

.popup .content .description .inputDescription{
  position: absolute;
  top: +5%;
  right: 0;
  width: calc(40% - 20px);
  min-height: 200px;
}


.popup .content .embgit{
  /*grid-column-end: span 1;*/
  grid-column-start: 2;
  grid-column-end: 6;
  align-self: stretch;
  text-align: justify;
}

.popup .content .embgit p{
  text-indent: 0px;
}

.popup .content .embgit .embgit-bump{
  position: absolute;
  top: 33%;
  right: 0;
  margin-right: 0px;
  width: calc(54% - 20px);
  text-indent: 0px;
  max-height: 200px;
}

.popup .content .embgit .inputEmbGit{
  position: absolute;
  top: 57.8%;
  right: 0;
  width: calc(40% - 20px);
  min-height: 270px;
}


.popup .content .inDepth{
  position: absolute;
  top: -10px;
  right: 0;
  margin-right: 0px;
  width: calc(54% - 20px);
  text-indent: 0px;
  max-height: 600px;
  text-align: justify;
}

.popup .content .inDepth p{
  text-indent: 0px;
}

/*.popup .content .inDepth .content-bump{
  position: absolute;
  clip: rect(0px,800px,185px,0px);
  bottom: 0;
  left: +0.9%;
  width: calc(60% - 50px);
  text-indent: 0px;
}*/

.popup .content .inDepth .inputContent{
  position: absolute;
  margin-top: +50%;
  margin-left: +10px;
  width: 100%;
  min-height: 200px;
}

.popup .content .extraInfo{
  margin-top: 10%;
  grid-column-end: span 5;
  align-self: baseline;
  display: flex;
  flex-wrap: wrap;
  /*margin-bottom: -15%;*/
}

.popup .content .extraInfo .selectGroup{
  width: 20%;
  min-width: 70px;
  display: flex;
  margin-top: 25px;
  margin-right: 20px;
}

.popup .content .extraInfo .selectGroup .selectEL{
  align-self: baseline;
  width: 100%;
  margin-top: 2%;
}

.popup .content .extraInfo .group{
  width: 20%;
  min-width: 70px;
}

.popup .content .extraInfo .formButtons{
  margin-left: auto;
  margin-top: 25px;
}

.popup .content .extraInfo .formButtons button{
  grid-column-start: 2;
  grid-column-end: span 2;
  border: none;
  background-color: #FC4445;
  color: #ffffff;
  font-size: 1.3em;
  height: 30px;
  border-radius: 4px;
  align-self: end;
  margin-left: auto; /* NINJA Trick ! */
  min-width: 100px;
}


/*For clickable & linked grid tiles*/
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* Responsiveness Has to be the last session on CSS*/
@media only screen and (min-width : 43px) {
    .headerBackGround{ 
        position: fixed;
    }
    header{
      display: grid;
    }
}
/* Remove the side bars and make main 100% width (max-width: 1010px) */ 
@media all and (max-width: 64em) {
  main {
    grid-column: 1 / 4;
  }

  aside {
   display: none;
  }

  .popup{
    width: 92%;
    padding: 2%;
    margin-top: 10px;
    /*margin-right: 2%;
    margin-left: 2%;*/
  }

  .popup_title .close{
  /*
  grid-column-end: span 1;
  margin-left: 50%;
  margin-top: 10%;
  */
  position: absolute;
  right: 1%;
  top: 1%;
}

  .popup.subgrid {
    grid-template-columns: unset;
  }

  header{
    display: grid;
  }

  .floatingButtonHolder.headerButton{
    display: none;
  }
}
/* Make all cards 100% width */
@media all and (max-width: 42em) {
  .displayPriority2, .displayPriority3{
    display: block;
  }

  .bigVisible{
    display: none;
  }

  .subgrid{
    grid-template-columns: 1fr;
  }

  .card.w1{
    grid-column: 1 / 3;
  }

  .card.w2{
    grid-column: 1 / 3;
  }

  .card.w3{
    grid-column: 1 / 3;
    height: 300px;
  }

  .popup_title{
    margin-top: -12px;
  }

  .popup .content .visuals{
    grid-column-end: span 6;
  }

  .popup .content .description{
    grid-column-start: 1;
    grid-column-end: span 6;
  }

  .popup .content .visuals .gallery .element{
    width: calc(100% - 1.5em);
  }

  .popup .content .visuals .gallery .controlHolder{
    width: calc(100% - 1.5em);
  }

  .popup .content .visuals .gallery .control{
    /*margin-top: 200px;*/
  }

  .popup .content .visuals .gallery .control.prev{
    /*margin-left: 2.5%;*/
  }

  .popup .content .visuals .gallery .control.next{
  /*margin-left: calc(54% - 1.5em);*/
    /*right: 2.5%;*/
  }

  .popup .content .visuals .tags .roundButton{
    /*left: 90%;*/
  }

  .popup .content .visuals .gallery .addVisuals{
    left: 50%;
  }
  /* Responsive Header */
  header{
    position: fixed;
    z-index: 20;
    width: 240px;
    min-height: 600px;
    display: none;
  }

  .logo_grid {
    grid-column-end: span 7;
    min-width: 100px;
    width: 70%;
  }

  .search_box {
    grid-column-end: span 7;
    min-width: 100px;
    width: 70%;
  }

  .login_box {
    grid-column-end: span 7;
    min-width: 100px;
    width: 70%;
  }

  .headerBackGround{
    z-index: 19;
    height: 1200px;
    width: calc(100% + 1em);
    background-color: #0006;
    position: fixed;
    margin: -1em;
    /*display: block;*/
  }

  .floatingButtonHolder.headerButton{
    display: block;
  }
}

/* END Resposiveness */