<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">

   <head>
      <% include ../partials/head %>
   </head>

   <body>

      <% include ../partials/newTagForm %>
      <% include ../partials/newProjectForm %>
      <% include ../partials/newProjectButton %>

      <div class="grid">
         
         <% include ../partials/header %>

         <aside class="sidebar-left">
            
         </aside>

         <main class="subgrid">

            <% include ../partials/grid %>

         </main>

         <aside class="sidebar-right">
            
         </aside>

         
         
         <footer>
         
         </footer>
      </div>

   </body>

</html>