<DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="PT-BR">

<head>
   <% include ../partials/head %>
</head>

<body>

   <% include ../partials/newTagForm %>

   <div class="grid">
      
      <% include ../partials/header2 %>

      <aside class="sidebar-left">
         
      </aside>

      <main class="subgrid">

        <!-- <% //include ../partials/grid %> -->

      </main>

      <aside class="sidebar-right">
         
      </aside>

      <footer>
         Footer
      </footer>
   </div>

</body>

</html>